body {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  letter-spacing: 2px;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#display {
  grid-column: 1 / 5;
  grid-row: 1;
  width: 250px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
  background-color: #ffffff;
}

.plus {
  grid-column: 4;
}

.equal {
  grid-column: 2/ 4;
  width: 90%;
}

button {
  background-color: #d9e2f3;
  color: #2c3e50;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  width: 50px;
  height: 50px;
  margin: 5px;
  transition: background-color 0.3s;
}

button:hover {
  cursor: pointer;
  background-color: #b3c4e0;
}
